html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 0.75em;
    width: 0.75em;
    background: black;
}
  
::-webkit-scrollbar-thumb {
    background: #A57D5B;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(250, 250, 250, 0.75);
}
  
body {
    background-color: white;
}
h1, h4, h2, h3, h5, h7, h8 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color:#000000;
}
h6, p {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-size: 1.3rem !important;
}
.logo {
    position: fixed;
    z-index:5;
}
h4 {
    position: relative;
    font-size: 5rem !important;
    text-align: center;
    margin-top: 31em;
}
.button:hover {
    background-color: #A57D5B; 
    border: solid white 1px;
}
/*Accueil
Navigation*/
.menu {
    position: absolute;
    display: inline-block;
    right: 1em;
    top: 1em;
    position: fixed;
    z-index:5;
}

.barres {
    background-color: black;
    border-radius: 15px;
    border: solid black 2px;
    color: white;
    padding: 1em;
    font-size: 1.25rem;
    cursor: pointer;
}

.content {
  position: fixed;
  display: none;
  background-color: #000000;
  padding: 3em;
  width: 14.25em;
  height: 100vh;
  z-index: 1;
  color: white;
  right: 0;
  top: 0;
  font-size: 2rem !important; 
}  
.liens {
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.liens:hover {
    color: #A57D5B;
    text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.3);
}
ul {
    list-style-type: none !important;
  }
  
.croix {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.croix:hover {
    color: #A57D5B;
}
.barres:hover {
    background-color: #A57D5B;
}

/*Titres*/
.mainpage {
    column-count: 2;
}
.horloge {
    width: 75%;
    height: 40%;
    left: 0;
    margin-top: 12%;
}
h1 {
    position: absolute;
    left: 35%;
    top: 35%;
    font-size: 8rem !important;
}

h2 {
    position: relative;
    left: 15%;
    top: 60%;
    font-size: 2.5rem !important;
}

/* Mini Bio*/
.Bio {
    background-color: #40271C;
    color: white;
    position: relative;
    display: flex;
    width: 100%; 
    height: 90%; 
    margin-top: 6%;
    margin-bottom: 3%;
}
.bordure{
    border: solid white 1px;
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.moi {
    display: flex;

}


h3 {
    font-size: 5rem !important;
    color:white;
}


.h {
    margin-top: 8%;
    margin-left: 4%;
    margin-right: 5%;
}

.grandep {
    position: relative; 
    width: 40%;
    height: 40%;
    margin-top: 1.6%;
    transform: rotate(-10deg);
    z-index: 1;
}

.petitp {
    position: relative; 
    margin-left: -15%;
    width: 30%;
    height:30%;
    z-index: 2;
    margin-top: 11%;
    transform: rotate(15deg);
}

.cv {
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 0.6%;
    margin-top: 1.25%;
}

/* centres d'intérêts*/


.back {
    position: absolute;
    background-color: #000000;
    width: 75%;
    height: 75%;
    border-radius: 50px;
    margin-top: 13%; 
    margin-left: 12.5%;
}
.bloc {
    position: relative; 
    display: flex;     
    width: 40em;
    height: 10em;
    background-color: #A57D5B;
    border:solid #5b311f 5px;
    border-radius: 0% 50px 50px 0%;
    margin-top: 3em;
}

.passion {
    position: relative;
    width: 42em;
    height: 9.5em;
    object-fit:cover;
    border-radius: 0% 50px 50px 0%;
    opacity: 0.25;
}

.bloc h5 {
    position: absolute;
    z-index: 2;
    align-self: center;
    font-size: 3.5rem;
    color: #40271C;
    text-shadow: #000000 1px 1px;
}
.centre {
    margin-left: 3.5em;
}
.centre2 {
    margin-left: 2.7em;
}

.passion:hover, .passion2:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}
.bloc2:hover h5, .bloc:hover h5 {
    color: white; 
    text-shadow: #000000 1px 1px;
    transition: color 0.3s ease-in-out;
}

.bloc2 {
    position: relative; 
    display: flex;     
    width: 40em;
    height: 10em;
    background-color: #A57D5B;
    border:solid #5b311f 5px;
    border-radius: 50px 0% 0% 50px;
    justify-self: end;
}

.passion2 {
    position: relative;
    width: 42em;
    height: 9.5em;
    object-fit:cover;
    border-radius: 50px 0% 0% 50px;
    opacity: 0.25;
}

.bloc2 h5 {
    position: absolute;
    z-index: 2;
    align-self: center;
    justify-self: center;
    font-size: 3.5rem;
    margin-left: 4.75em;
    color: #40271C;
    text-shadow: #000000 1px 1px;
}


/*Compétences*/
.titre3 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.compétences {
    color: white;
    position: relative;
    display: flex;
    width: 100%; 
    height: auto;
    flex-wrap: wrap; 
}

.boite {
    width: 70%;
    height: 30em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 2em;
}
.boite2 {
    width: 97%;
    height: 28em;
    border-radius: 50px;
    display: flex;
    background-color: #40271C;
    column-count: 3;
}

.titre {
    padding: 2.5em 1.6em;
    width: 50%;
    height: 6.75%;
    border-radius: 40px;
    background-color: #A57D5B;
    transform: rotate(-35deg);
    position: relative;
    top: 13%;
    left: 2%;
    z-index: 2;
    border: solid #765232 1px;
}
h7 {
    color: #ffffff;
    text-shadow: #000000 1px 1px;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titre:hover {
      transform: rotate(-30deg) translateY(-45px);
      transition: transform 0.3s ease;
}
.texte {
      padding: 0.7em;
      height: 65%;
      width: 90%;
      border-radius: 40px;
      border: solid #765232 1px;
      background-color: #A57D5B;
      position: relative;
      z-index: 1;
      right: 5em;
      top: 5.75em;
      text-shadow: #000000 1px 1px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.texte p {
    font-size: 1.15rem !important;
    position: relative;
    width: 90%;
}
/*+ outils*/
.titre4 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
  .outils {
    background-color: black;
    width: 14.5%;
    height: 30em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
}
.foncé {
    background-color: #40271C;
    width: 87%;
    height: 28em;
    border-radius: 50px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gris {
    background-color: #A57D5B;
    width: 95%;
    height: 26em;
    border-radius: 50px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clair {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
}
.principale, .secondaire {
    width: 6em; 
    height: 6em; 
    clip-path: circle(50%);
    object-fit: cover;
    transition: opacity 0.5s, transform 0.5s;
}
.principale {
    transform: scale(1.2);
    opacity: 1;
}
.secondaire {
    width: 4em;
    height: 4em;
    opacity: 0.5;
}
.fa-arrow-up, .fa-arrow-down {
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

/*Parcours*/

.Formation {
    background-color: #40271C;
    color: white;
    position: relative;
    display: flex;
    width: 100%; 
    height: 30em; 
    margin-bottom: 7%;
}
.bordure2{
    border: solid white 1px;
    position: relative;
    width: 100%; 
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    column-count: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.5em;
}
.ligne {
    border-left:5px solid #A57D5B;
    height: 9.4em;
    align-items: center;
    display: flex;
    margin-left: 1em;
    transition: transform .1s;
}
.ligne:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    }
.bordure2 p {
    display: flex;
    margin-left: 1em;
}

/*Projet*/
.teddy {
    background-image: url(photos/teddyy.svg);
    width: 100%;
    background-size: cover;
    height: 50em;
}
.projets {
    column-count: 4; 
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6.25em;
}

.projet {
    position: relative;
    width: 17%;
    height: 35em;
    background-color: #A57D5B;
    border: solid black 1px;
    border-radius: 100% 100% 0% 0%;
}
.projet img {
    object-fit: cover;
    position: absolute;
    width: 90%;
    height: 33em;
    border: solid black 1px;
    border-radius: 100% 100% 0% 0%;
    top: 1em; 
    left:5%;
}
.projet a {
    position: relative;
    font-size: 1.5rem !important;
    top: 80% ;
    left: 30%;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.projet a:hover {
    color: #000000;
}

.projet:hover img {
    filter: brightness(50%)
}

h8 {
    font-size: 2rem !important;
    background-color: #A57D5B;
    position: relative;
    top: 90%;
    text-align: center;
    z-index: 3;
    padding: 3%;
    color: white;
}

.popup {
    position: absolute;
    top: 1em; bottom: 0; left: 5%; right: 0;
    height: 100%; width: 100%;
    opacity: 0; transition: all .3s;
    border: solid black 1px;
    border-radius: 100% 100% 0% 0%;
    width: 90%;
    height: 33em;  
    display: inline-block;
    cursor: pointer;
}

.popup:hover {
    opacity: 1;
}



/*footer*/
.fin {
    background-color: #5b311f;
    color: white;
    position: relative;
    display: flex;
    width: 100%; 
    height: 20em; 
    margin-top: 4em;
}
.bordure3{
    border: solid white 1px;
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    column-count: 2;
}

.bordure3 h5 {
    position: relative;
    display: flex;
    font-size: 3.4em !important;
    margin-top: 1.5%;
    margin-left: 7%;
    color:white;
}

.bordure3 p {
    align-items: center;
    display: flex;
    margin-left: 2%;
    margin-top: 2.5%;
    text-shadow: #000000 2px 2px;
}

.rs {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10%;
    margin-left: 45% !important;
}